Issues found during AD write-up

So this private data field is only existing in Infinite Band Connection manger? So what this document is defining a structure to a field which currently don’t have any structure but are part of a protocol defined by another body?

Have this work been formally agreed with IBTA?

Or is the relationship to the connection manager used to establish the RPC over RDMA different, if that is the case it needs to be better explained.

Is it bit 8 or bit 15 of the flags field that are used. Section 5.1 and 4.1 do not agree. The later thinks it is bit 8.

Section 5: Is there only going to be one object of private data forever in the relevant communication? If not, why isn’t this a well-specified TLV so that unknow type entries can be skipped to the nest object?

Even if there ever is going to be one entry, can you be more formal in description of what is a valid message using another format identifier, is that only the 32-bit field of the format Identifier, or also the version.

Isn’t the version field just unnecessary? If one needs version using another format identifier is more easy than the identifier + version construct.

Section 6: The IANA consideration is confusing. If the specification for a CM private data format requires IESG approval, then why have the expert review policy. In that case one can simply use the IESG approval policy instead. However, requiring any type of IESG approval here appear to be a way to high bar. I think expert review is likely appropriate, but the guidance to the Experts needs to be clearer. For example what happens if IBTA want to use this to add some format?

Section 7: The security consideration. I am missing any discussion about the security requirements that the actual extension. It appears that integrity and source authenticity are required for safe operation of these two extensions.

IBARCH URL Is not valid, it results in a 404.

Tom Talpey suggests:

Private Data is supported by multiple RDMA protocols, including iWARP aka RDDP. The document takes care to define a payload which is supported by all.

The Infiniband-style private data exchange, used by RoCE and InfiniBand, is implemented in the IB Connection Manager, and is out of scope for IETF. However the iWARP one is supported by MPA in RFC5044 and RFC6581. But this MPA support isn’t mentioned until the Security Considerations section, so I’d agree that adding discussion of all these mappings earlier in the document is a good idea.

RFC6581 has a similar approach btw. It adds private data payloads which are exchanged by the lower RDMA layers. And it provides some possibly useful text:

>    As currently defined, DDP connection establishment requires the ULP
>    to encode the RDMA configuration in the application-specific Private
>    Data.  This results in undesirable duplication of logic to cover RDMA
>    characteristics of both InfiniBand and RDDP for each ULP, and to
>    specify for InfiniBand and RDDP the extraction of the RDMA
>    characteristics for each ULP.
>  
>    Both RDDP and InfiniBand support an initial Private Data exchange;
>    therefore, a standard definition of the RDMA characteristics within
>    the Private Data section would enable common connection establishment
>    APIs to format the RDMA characteristics based on the same API
>    information used when establishing either protocol to form the
>    connection.  The application would then only have to indicate that it
>    was using this standard format to enable common connection
>    establishment procedures to apply common code to properly parse these
>    fields and configure the RDMA endpoints accordingly.  Exchange of
>    parameters necessary to perform RDMA Read operations is a common
>    usage of the initial Private Data exchange.

In 6581, the text above provides justification (“undesirable duplication of logic”). But for this document, the motivation is to enhance the connection model without extending the rpcrdmav1 protocol. Similar goal, but may lead to subtly different text.

Further comments after first revision:

Section 1: I am missing in the introduction of the assumption that to be able to
use this option one requires an ULP with a private data field. I think there
should be a paragraph here providing that context and include infromational
references to protocols that may use this extension. And I think including that
IETF defined ULP here as one option in addition to IBA would be good. 

Section 4 calls the 32-bit ID for format identifier, while the IANA Section
calls it protocol number. Please align the language here. Also the name of the
format is inconsistent after these latest changes. I think the more extensive
name of the format was clearer then what is propsoed now. Becasue it is really
this specific option that is identified, not RPC over RDMA protocol in general. 

Section 4: First paragraph. Depending on what is added to Section 1, this may or
may not need this first paragraph in the current form. But, I get the
impression, that this text either isn't needed here or needs to contain way more
details for the specific protocol. I think the later is hard to do, especially
for an protocol that we don't have change control over. 

Section 6.1: The appointment of the designated expert is done by the IESG and
not the Area Director themselves. See section 5.2.1 of RFC 8126. 

Section 6.1:
"The DE will post the request to the nfsv4 WG mailing list (or a successor to
that list) for comment and review.  The DE will approve	or deny the request and
publish notice of the decision within 30 days."

I would propose that this is reworded so that it will not be necessary for the
IETF to designate a successor list, even if there are no real community. I would
propose a simple addition like:

The DE will post the request to the nfsv4 WG mailing list (or a successor to
that list), if such a list exist, for comment and review.

Revision -05 corrects these issues.